.button {
            cursor: pointer;
            outline: none;
            border-radius: 100px;
            margin: 3rem auto;
            border:none;
            padding: 1.2rem 1.5rem;
            font-size: $default-font-size;
            color: $color-white;
            box-shadow: $shadow-light;
            background: $color-primary;
            background: -webkit-linear-gradient(bottom right, $color-primary, $color-secondary);
            background: -moz-linear-gradient(bottom right, $color-primary, $color-secondary);
            background: linear-gradient(to top left, $color-primary, $color-secondary);
            transition: opacity .2s ease, box-shadow .2s ease-in-out, transform .2s ease-in-out;

            &:active {
                box-shadow: $shadow-dark;
                transform: translateY(2px);
            }
            
            &:hover{
                opacity: .9;
            }
            

            &--order {
                width: 20rem;
                height: 5rem;
                margin-bottom: 5rem;
            }
        }