.explanation-card {
    background-color: $color-background-light;
    border-radius: 20px;
    height: 7rem;
    width: 100%;
    max-width: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    font-size: $default-font-size;
    box-shadow: $shadow-light;
    transition: background-color .2s;
    &:not(:last-child) {margin-bottom: 2rem;}
    &:nth-child(2) {margin-top: 2rem;}
    &:hover {
        background-color: lighten($color: $color-primary, $amount: 36%);
        .fas {
            color: $color-primary;
            opacity: 1;
        }
    }
    
    &__number {
        color: $color-white;
        background-color: $color-primary;
        border-radius: 100px;
        padding: 0rem .8rem;
        position: relative;
        left: -3rem;
    }

    &__text {
        font-weight: 700;
        margin-left: 1rem;
        width: 70%;
    }

    .fas {
        opacity: 0.5;
        width: 2rem;
    }
    
}