//COLORS

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #FFFF;
$color-black: #000;
$color-background-dark:#dddddd;
$color-background-normal:#EDEDED;
$color-background-light: #F5F5F5;
$color-background-footer: #2b2a2a;
$color-background-margin: #424242;

//FONT
$default-font-size : 1.6rem;
$menu-name-size: 1.7rem;
$title-font-size: 2.6rem;
$icon-size: 2rem;

//BOX-SHADOW
$shadow-light : .2rem .8rem 1rem rgba($color-black, 0.15);
$shadow-dark: .2rem .8rem 1rem rgba($color-black, 0.3);

