.footer {
    background-color: $color-background-footer;
    color: $color-white;
    max-width: 80rem;
    margin: 0 auto;
    padding: 1rem 1.5rem 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    font-size: $default-font-size;

    &__link:not(:last-child) {
        margin-bottom: 1rem;
    }
    &__link:nth-child(2){
        margin-top: 1rem;
        
    }
    &__link a:nth-child(n+2) {
        margin-left: .5rem;
        font-weight: 500;
    }

    &--menu {
        position: relative;
        top: 25rem;
    }

    a:hover {
        text-decoration: underline;
    }

}


